main {
  width: 100%;
  margin: auto;
}

body {
  background-color: #021F59;
}

.sl-heading {
  margin-top: 0%;
  margin-bottom: 0px;
  padding-bottom: 15px;
}

.shopping-list-btn-container {
  background-color: #DB8B7C;
  padding: 25px 0px 25px 25px;
}